.home-page {
  &__title {
    color: black;
    animation-name: backAndForth;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  &products {
    display: flex;
    flex-direction: column;

    a {
      
      text-decoration: none;
      color: inherit;
    }
  }
}